
 #container {
    display: flex;
    background-color: aquamarine;
    width: 960px;
    height: 960px;
    margin-top: 12px;
 }

 #btn {
    
   margin-bottom: 12px;
   padding : 15px;
   margin-left: 270px;
   margin-top: 12px;
   border-radius: 12px;
   background-color: greenyellow;

   
 }
 .item {
    margin: 12px;
    width: 75px;
    height: 75px;
 }