#container {
    display: grid;
    grid-template-columns: repeat(16, 1.5fr);
    grid-template-rows: repeat(16, 1.5fr);
    gap: 2px;
    background-color: yellow;
}
.grid-item {
    width: 30px; 
    height: 30px; 
    background-color: burlywood; 
    border: 1px solid black; 
    margin: 4px;
    
}

#btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    }

#btn{
    width: 500px;
    height: 100px;
    padding: 5px;
    border-radius: 17px;
    font-size: 30px;
}